/*.fom-control{*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/
/*.fom-control input{*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    outline: none;*/
/*    border-bottom: 2px solid #558fe3;*/
/*}*/
.fom-control span{
    position: absolute;
    border-bottom: 3px solid rgba(0, 252, 13, 0.99);
    left: 0;
    top: 38px;
    width: 0%;
    transition: 0.3s;
}
.fom-control small{
    color: red;
}
.fom-control.error. input{
    color: red;
}